body {
  margin: auto;
  min-width: 200px;
  background-color: white;
}

header {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, label, textarea, select, .button {
  font-family: merriweather;
}

.title {
  background-color: darkorange;
  padding: 1em 0;
}

.titleh1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: x-large;
}

.lines,
.signup {
  margin: auto;
  padding: 0 1em;
}

.signuph2,
.signuph3 {
  text-align: center;
}

.signuph3,
.snewsletter {
  color: #a7a7a7;
  font-weight: 300;
}

.signuph3 {
  font-size: 16px;
}

.contact,
.newsletter {
  margin: 0;
  padding: 0 1em;
}


.newsletter label {
  display: block;
}

.newsletter label {
  color:grey;
  font-weight: 300;
  font-size: small;
}

input[type="radio"],
input[type="checkbox"]{
  display: inline;
  margin-right: 1em;
}

.hr1 {
  color: rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0.0);
  height: 4px;
  border-style: none;
  border-top: solid black 5px;
  border-bottom: solid black 2px;
  margin-top: 2.5em;
}

.hr2 {
  color: rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);
  height: 2px;
  border-style: none;
  display: block;
  clear: both;
  margin: 0 1em;
}

.inputfield,
.inputfield2 {
  background-color:lightgrey;
  border-style: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-size: 14px;
  text-indent: 20px;
  margin: 1em 0 1.5em 0;
}


.contactform placeholder {
  font-size: 30px;
  float: right;
  text-align: right;
}

p {
  margin: 0;
  padding: 0;
}

footer p {
  color: lightgrey;
  font-style: italic;
  margin: auto;
  text-align: center;
}

footer {
  margin: 0 0 5em 0;
}

.html,
.css,
.javascript,
input[type="button"] {
  display: block;
}

.topics {
  width: 100%;
  margin: auto;
  display: block;
  padding: 0;
  border-radius: 5px;
  height: 100px;
  border-style: none;
  background-color: lightgrey;
  font-size: medium;
}


select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
outline: none;
  box-shadow: 0 0 0 1.5pt black;
}



button:focus {
  outline: none;
}

button:hover {
  outline: none;
  background-color: darkorange;
}

button {
  width: 100%;
  margin: auto;
}

.button {
  color: white;
  font-size: large;
  border: none;
  background-color: orange;
  border-radius: 5px;
  height: 60px;
  margin: 2em 0;
}

::-webkit-input-placeholder {
   color: grey;
   text-align: right;
   padding-right: 10px;
   font-size: 10px;
}

select {
  border-style: none;
  height: 50px;
  width: 100%;
  background-color: lightgrey;
  margin: 1em 0 1.5em 0;
}

select:focus {
  outline: none;
}

option {
  font-size: large;
  color: grey;
}

.contactform label {
  color: grey;
  font-weight: lighter;
}



.zip,
.inputfield2 {
  width: 50%;
  float: left;
  display: inline;

}

.hr3 {
  display: none;
}

.abe {
  margin-bottom: 1em;
  display: block;
  max-width: 102px;
}

legend {
  display: none;
}

fieldset {
  border: 0;
}

@media (min-width: 760px) {
  .lines,
  .signup {
    margin: auto;
    padding: 0 1em;
    max-width: 760px;
    display: block;
}

.contact {
  margin: auto;
  max-width: 760px;
}

select,
.inputfield {
  max-width: 600px;
  float: right;
  display: inline-block;
}

.inputfield2 {
  float: left;
  width: 300px;
}

.zip {
  width: 160px;
}


.newsletter {
  max-width: 760px;
  margin: auto;

}

form label {
  display: block;
  clear: both;
  float: left;

}
.contactform label {
  color: grey;
  font-weight: lighter;
  margin-top: 1.8em;
}


.newsletterinfo, .snewsletter {
  display: block;
  clear: both;

}


.signup {
  margin: auto;
  padding: 2em 0;
}

.snewsletter2 {
  padding-top: 2em;
}

.hr2 {
  max-width: 760px;
  margin: auto;
}

.hr3 {
  display: none;
}

.zip {
  width: 130px;
}

}

@media (min-width: 1004px) {

  .column1 {
    float: left;
    margin: auto;
    display: inline;
    width: 500px;
  }

  .column2 {
    float: right;
    margin: auto;
    display: inline-block;
  }

  footer {
      display: block;
    }

    .breakpointbig {
      max-width: 1004px;
      margin: auto;
    }

    .lines {
      max-width: 1004px;
    }


    .inputfield,
    .inputfield2 {
      background-color:lightgrey;
      border-style: none;
      border-radius: 5px;
      height: 50px;
      font-size: 14px;
      text-indent: 20px;
      margin: 0;
      width: 100%;
    }

    .inputfield2 {
      float: left;
      display: inline;
      margin-bottom: 2em;
    }


    .hr2 {
      display: none;
    }

    .hr3 {
      color: rgba(0,0,0,1);
      background-color: rgba(0,0,0,1);
      height: 2px;
      border-style: none;
      display: block;
      clear: both;
      margin: auto;
      max-width: 1004px;
    }

    .zip {
      display: block;
      float: left;
    }


    .contactform label {
      color: grey;
      font-weight: lighter;
      margin-bottom: 1em;
    }

    select {
      margin: 0;
    }

footer p {
  margin-top: 1em;
}

}
